extends layout

block content
  div.card
    div.head
      h3 Mudkip
      h3.red 50 HP
      img.resize(src= pokemon.image)
    div.image-border
        img.image(src= "https://assets.pokemon.com/assets/cms2/img/pokedex/full/258.png")
    div.body
      img.resize-icon(src= "https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Pok%C3%A9mon_Water_Type_Icon.svg/1024px-Pok%C3%A9mon_Water_Type_Icon.svg.png")
      p Water Gun
      p.space 40
    div.body
      img.line(src= `/images/line-removebg-preview.png`)
    div.body
      img.resize-icon(src= "https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Pok%C3%A9mon_Water_Type_Icon.svg/1024px-Pok%C3%A9mon_Water_Type_Icon.svg.png")
      img.resize-icon(src= "https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Pok%C3%A9mon_Water_Type_Icon.svg/1024px-Pok%C3%A9mon_Water_Type_Icon.svg.png")
      p Water Pulse
      p.space 60
    div.body
      img.line(src= `/images/line-removebg-preview.png`)
    div.bottom
      p Weakness
      p Resistance
      p Retreat cost
    div.bottom-icon
      img.resize-icon(src= "https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Pok%C3%A9mon_Water_Type_Icon.svg/1024px-Pok%C3%A9mon_Water_Type_Icon.svg.png")
      img.resize-icon(src= "https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Pok%C3%A9mon_Water_Type_Icon.svg/1024px-Pok%C3%A9mon_Water_Type_Icon.svg.png")
      img.resize-icon(src= "https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Pok%C3%A9mon_Water_Type_Icon.svg/1024px-Pok%C3%A9mon_Water_Type_Icon.svg.png")