extends layout

block content
  include mixins/pokemonCard
  div.container
    div.add-button-row
      a.button.save(href= '/add') Add Pokemon
  div.container
    each pokemon in pokemons
      +pokemonCard(pokemon)
